{% load wagtailcore_tags %}
<div class="home-search-section--content">
    <h1 class="sumo-page-heading-xl">{{ self.title }}</h1>
    <form data-instant-search="form" {% if id %}id="{{ id }}" {% endif %} action="{{ url('search') }}" method="get"
        {% if self.target %} target="{{ self.target }}" {% endif %} class="simple-search-form">
        {% if self.params %}
        {% for k, v in self.params.items() %}
        <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}
        {% endif %}
        <input spellcheck="true" type="search" autocomplete="off" name="q" aria-required="true"
            placeholder="{{ self.placeholder }}" class="searchbox" id="search-q" />
        <button type="submit" title="{{ _('Search') }}" class="search-button">{{ _('Search') }}</button>
    </form>
</div>
