{% extends "users/base.html" %}
{% from "sumo/includes/question_entry.html" import question_entry %}
{% set title = _("{user} | Questions")|f(user=display_name(profile.user)) %}
{% set canonical_url = canonicalize(viewname="users.questions", username=profile.user.username) %}
{% set active = "user-questions" %}

{% block content %}
  <article id="profile">
    <h2 class="sumo-page-subheading">
      {% if is_owner %}
        {{ _("My Questions") }}
      {% else %}
        {{ _("Questions Asked") }}
      {% endif %}
    </h2>

    {% if is_owner %}
    <nav class="tabs">
      <ul class="tabs--list">
        <li class="tabs--item">
          <a href="?" {% if not channel %}class="selected"{% endif %}><span>{{ _("All") }}</span></a>
        </li>
        <li class="tabs--item">
          <a href="?channel=forum" {% if channel == "forum" %}class="selected"{% endif %}><span>{{ _("Forum") }}</span></a>
        </li>
        <li class="tabs--item">
          <a href="?channel=direct_support" {% if channel == "direct_support" %}class="selected"{% endif %}><span>{{ _("Direct Support") }}</span></a>
        </li>
      </ul>
    </nav>
    {% endif %}

    {% if not questions %}
      <p class="my-questions--empty">
        {% if is_owner %}
          {{ _("You haven't posted any questions yet.") }}
        {% else %}
          {{ _("{user} hasn't posted any questions yet.")|f(user=display_name(profile.user)) }}
        {% endif %}
      </p>
    {% else %}
      <ul class="question-entry-list">
        {% for question in questions %}
          <li class="question-entry">
            {{ question_entry(question, profile_username=profile.user.username) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {{ questions|paginator }}
  </article>
{% endblock %}
