@use '../config' as c;
@use 'protocol/css/includes/lib' as p;


.sumo-page-subheader {
  display: flex;
  flex-direction: column-reverse;

  @media #{p.$mq-lg} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.download-buttons {
  text-align: center;
  margin-bottom: p.$spacing-lg;

  @media #{p.$mq-lg} {
    margin-bottom: 0;
  }
}

.download-info {
  display: flex;
  justify-content: center;
  margin: p.$spacing-sm 0 0 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 p.$spacing-xs;
  }
}


// SCSS for Topics Section Layout

.topics-section {
  padding: 40px 20px; // Add more padding for spacing between content
  h2 {
    font-size: 24px;
    margin-bottom: 30px; // Increase the bottom margin for better spacing
    color: #333;
  }
}


.topics-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.topic-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px 16px 16px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: calc(33% - 20px); // Adjust for 3 columns with spacing
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 200px; // Add minimum height to ensure consistent appearance

  .topic-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  
    input[type="checkbox"] {
      flex: 0 0 18px;
      width: 18px;
      height: 18px;
      appearance: none;
      -webkit-appearance: none;
      background-color: #CCCCCC;
      border: none;
      border-radius: 2px;

      &:checked {
        background-color: #CCCCCC;
      }
    }
  
    h3 {
      font-family: Inter;
      font-size: 16px; // Increase font size slightly to better match the screenshot
      font-weight: 700;
      margin: 0;
      line-height: 1.2;
    }
  }
  

  .article-list {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    flex-grow: 1; // Allow list to take up available space
  
    li {
      margin-bottom: 8px;
      line-height: 1.5;
  
      a {
        color: black;
        font-size: 14px;
        text-decoration: underline;
  
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  
  .view-all-link {
    margin-top: auto;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
